@charset "UTF-8";
/* bootstrap4 */
.w-25 {
  width: 25% !important;
}
.w-20 {
  width: 20% !important;
}
.w-40 {
  width: 40% !important;
}
.w-50 {
  width: 50% !important;
}
.w-60 {
  width: 60% !important;
}
.w-75 {
  width: 75% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-100 {
  height: 100% !important;
}

.m-auto {
  margin: auto !important;
}
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}

.ml-auto {
  margin-left: auto !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}

.mr-auto {
  margin-right: auto !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.mr-4 {
  margin-right: 1.5rem !important;
}
.mr-5 {
  margin-right: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}
.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}
.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: 0.25rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pt-4 {
  padding-top: 1.5rem !important;
}
.pt-5 {
  padding-top: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-1 {
  padding-bottom: 0.25rem !important;
}
.pb-2 {
  padding-bottom: 0.5rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important;
}
.pb-4 {
  padding-bottom: 1.5rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: 0.25rem !important;
}
.pl-2 {
  padding-left: 0.5rem !important;
}
.pl-3 {
  padding-left: 1rem !important;
}
.pl-4 {
  padding-left: 1.5rem !important;
}
.pl-5 {
  padding-left: 3rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}
.pr-1 {
  padding-right: 0.25rem !important;
}
.pr-2 {
  padding-right: 0.5rem !important;
}
.pr-3 {
  padding-right: 1rem !important;
}
.pr-4 {
  padding-right: 1.5rem !important;
}
.pr-5 {
  padding-right: 3rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}
.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}
.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
          justify-content: center !important;
}
.justify-content-between {
  -ms-flex-pack: justify !important;
  -webkit-box-pack: justify !important;
          justify-content: space-between !important;
}
.justify-content-end {
  -ms-flex-pack: end !important;
  -webkit-box-pack: end !important;
          justify-content: flex-end !important;
}
.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
          flex-direction: column !important;
}
.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
}

.rounded {
  border-radius: 1rem !important;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.rounded-left {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}
.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
.rounded-top-left {
  border-top-left-radius: 1rem !important;
}
.rounded-top-right {
  border-top-right-radius: 1rem !important;
}
.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}
.rounded-bottom-left {
  border-bottom-left-radius: 1rem !important;
}
.rounded-bottom-right {
  border-bottom-right-radius: 1rem !important;
}

.text-center {
  text-align: center !important;
}

.text-end {
  text-align: end !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #4fbfff;
  border-color: #4fbfff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4fbfff;
  border-color: #4fbfff;
}

.btn-primary.focus,
.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #4fbfff;
  border-color: #4fbfff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #37a3e2;
  border-color: #37a7e7;
  outline: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #ff2a2a;
  border-color: #ff2a2a;
}

.btn-danger:hover {
  color: #fff;
  background-color: #ff2a2a;
  border-color: #ff2a2a;
}

.btn-danger.focus,
.btn-danger:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #ff2a2a;
  border-color: #ff2a2a;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff2a2a;
  border-color: #ff2a2a;
  outline: none;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #01ce12;
  border-color: #01ce12;
}

.btn-success:hover {
  color: #fff;
  background-color: #01ce12;
  border-color: #01ce12;
}

.btn-success.focus,
.btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 255, 38, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 255, 38, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #01ce12;
  border-color: #01ce12;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #01ce12;
  border-color: #01ce12;
  outline: none;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(56, 255, 38, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(56, 255, 38, 0.5);
}

.h-25px {
  height: 25px;
}

.w-150px {
  width: 150px;
}

.lh-25px {
  line-height: 25px;
}

/* 23927 new css */
.sub-menu-style01-2-3 {
  border-radius: 20px;
  line-height: 30px;
  font-family: "微軟正黑體", Arial, "新細明體";
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  background-color: #4bbdff;
  cursor: pointer;
  width: 100px;
  margin-right: 5px;
  float: left;
}

.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}

.buttons_10 {
  border: 2px;
  border-radius: 20px;
  line-height: 40px;
  font-family: "微軟正黑體", Arial, "新細明體";
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  background-color: #4dbeff;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 12px #b2d6fa;
          box-shadow: 0px 0px 12px #b2d6fa;
  height: 100vh;
}

/* header */
.header {
  background-color: #4fbfff;
  color: white;
  font-size: 25px;
  position: relative;
}

.header > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header .manyPictures {
  font-size: 15px;
  background-color: white;
  color: #4fbfff;
  position: absolute;
  right: 12px;
  top: 25%;
  border: none;
}

.header .selectCancel {
  font-size: 15px;
  background-color: white;
  color: #4fbfff;
  position: absolute;
  left: 20px;
  top: 25%;
  border: none;
  display: none;
}

.header .dlPictures {
  font-size: 15px;
  background-color: white;
  color: #4fbfff;
  position: absolute;
  right: 12px;
  top: 25%;
  border: none;
  display: none;
}

.content {
  background-color: #f6f7f8;
  height: 100vh;
}
.content label {
  color: #4fbfff;
  font-size: 16px;
}
.content input {
  border: none;
  -webkit-box-shadow: 0px 0px 3px #b2d6fa;
          box-shadow: 0px 0px 3px #b2d6fa;
  border-radius: 5px;
}
.content select {
  border: none;
  -webkit-box-shadow: 0px 0px 3px #b2d6fa;
          box-shadow: 0px 0px 3px #b2d6fa;
  border-radius: 5px;
  margin-right: 8px;
  color: #4fbfff;
}

.search .allPictures {
  font-size: 15px;
  background-color: #4fbfff;
  color: white;
  border: none;
  display: none;
  outline: none;
  width: 100px;
}
.search input {
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 3px #b2d6fa;
          box-shadow: 0px 0px 3px #b2d6fa;
  background-color: white;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .search input {
    width: 100%;
  }
}
.albumdate input {
  border: none;
  -webkit-box-shadow: 0px 0px 3px #b2d6fa;
          box-shadow: 0px 0px 3px #b2d6fa;
  border-radius: 5px;
  margin-right: 8px;
  color: #4fbfff;
  width: 90%;
  outline: none;
}
.albumdate span {
  color: #4fbfff;
  margin-right: 3px;
  margin-left: 5px;
}
.albumdate select {
  border: none;
  margin-right: 2px;
  color: #ffffff;
  background-color: #4bbdff;
  border-radius: 20px;
  padding: 4px 10px;
}
.albumdate select option {
  border: none;
  color: #4bbdff;
  background-color: #ffffff;
}

.switchstyle i {
  font-size: 18px;
  color: #cfcfcf;
}
.switchstyle .list {
  color: #4fbfff;
}

.albumList {
  display: block;
}
.albumList a {
  display: block;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 6px #b2d6fa;
          box-shadow: 0px 0px 6px #b2d6fa;
  background-color: white;
}

.album img {
  width: 80px;
  height: 80px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px #b2d6fa;
          box-shadow: 0px 0px 4px #b2d6fa;
}
.album strong {
  font-size: 18px;
  color: #666666;
}
.album strong span {
  font-size: 14px;
}

.smallprint {
  font-size: 12px;
  color: #666666;
}

.albumblock {
  display: none;
}
.albumblock a {
  display: block;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.albumblock .smallprint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.albumblock .container {
  -webkit-box-shadow: 0px 0px 6px #b2d6fa;
          box-shadow: 0px 0px 6px #b2d6fa;
  border-radius: 20px;
  background-color: white;
}
.albumblock img {
  display: block;
  width: 145px;
  height: 145px;
  margin: 0 auto;
  margin-bottom: 5px;
}

@media screen and (max-width: 400px) {
  .albumblock img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 377px) {
  .albumblock .smallprint {
    font-size: 10px;
  }
}
@media screen and (max-width: 345px) {
  .albumblock img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 333px) {
  .albumblock .smallprint {
    font-size: 8px;
  }
}
.strongfont {
  font-size: 18px;
  color: #666666;
}

.viewAlbum .smallprint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.viewAlbum .row {
  background-color: white;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}
.viewAlbum a {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.viewAlbum img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 0;
}
.viewAlbum .checkPictures {
  display: none;
}
.viewAlbum input[type=checkbox][id^=cb] {
  display: none;
}
.viewAlbum label {
  border: 1px solid #fff;
  padding: 0;
  display: block;
  position: relative;
  margin: 0px;
  cursor: pointer;
}
.viewAlbum label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.viewAlbum label img {
  height: 160px;
  width: 160px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.viewAlbum :checked + label {
  border-color: #ddd;
}
.viewAlbum :checked + label:before {
  content: "✔";
  background-color: grey;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 9;
  font-size: 20px;
}
.viewAlbum :checked + label img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  z-index: -1;
}

.albumFooter {
  position: sticky;
  bottom: 0;
}
.albumFooter a {
  background-color: #1b8ccc;
  color: white;
  padding: 10px 0;
}
.albumFooter .AlbumCurrentPage {
  background-color: #4fbfff;
}

.TePhUpload .TePhUpData {
  width: 145px;
}
.TePhUpload .btn {
  padding: 2px 5px;
}
.TePhUpload img {
  border-radius: 3px;
}

.upPhotos button {
  width: 100px;
  height: 60px;
  font-size: 15px;
  border-radius: 10px;
}
.upPhotos button:nth-child(1) {
  margin-right: 100px;
}
@media (max-width: 768px) {
  .upPhotos button:nth-child(1) {
    margin-right: 1rem;
  }
}
@media (max-width: 768px) {
  .upPhotos button {
    width: 80px;
    height: 50px;
    font-size: 12px;
  }
}
@media (max-width: 389px) {
  .upPhotos button {
    width: 60px;
    height: 45px;
    font-size: 12px;
  }
}

.storageSpace {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  background-color: white;
}

.addAlbumPic img {
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
}
.addAlbumPic .picAbsolute {
  width: 170px;
  height: 170px;
  margin: 0 auto;
  position: relative;
}
.addAlbumPic .picAbsolute span {
  position: absolute;
  top: 1px;
  left: 6px;
  color: black;
  font-weight: bolder;
}
.addAlbumPic .picAbsolute i {
  position: absolute;
  top: -5px;
  right: -5px;
  color: brown;
  font-size: 19px;
}

.t271-sub-menu {
  width: 96%;
  overflow: hidden;
  height: auto;
  margin-bottom: 10px;
  padding-right: 2%;
  padding-left: 2%;
}

.t271-menu-style01:hover {
  color: #ffffff;
}

.t271-menu-style01:active {
  color: #ffffff;
}

.t271-menu-style01:focus {
  color: #ffffff;
}

.t271-menu-style01 {
  border-radius: 20px;
  line-height: 40px;
  font-family: "微軟正黑體", Arial, "新細明體";
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  background-color: #4bbdff;
  cursor: pointer;
  width: 95px;
  display: block;
  margin-right: 15px;
}

.lightBulb {
  font-size: 20px;
  color: rgb(252, 115, 24);
}

.lightBulb:hover {
  color: rgb(252, 115, 24);
}

.lightBulb:active {
  color: rgb(252, 115, 24);
}

.lightBulb:focus {
  color: rgb(252, 115, 24);
}

.t271-menu-style02 {
  border: 1px solid #666666;
  border-radius: 20px;
  line-height: 40px;
  font-family: "微軟正黑體", Arial, "新細明體";
  font-size: 15px;
  color: #666666;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  width: 95px;
  margin-right: 5px;
  float: left;
}

.t271-menu-style02 a {
  color: #666666;
}

.t271-card-div1 {
  width: 40%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-right: 1px solid #dee2e6;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: #ffffff;
  font-weight: bolder;
}

.t271-card-div2 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.div2-undiv {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  line-height: 25px;
}

.undiv-div1 {
  border-right: 1px solid #dee2e6;
  width: 33.3%;
}

.undiv-div2 {
  width: 33.3%;
  position: relative;
}

.undiv-div2 img {
  position: absolute;
  top: 24px;
  right: 2px;
}

.undiv-div3 {
  width: 100%;
}

.undiv-div1-p1 {
  background-color: #9adafc;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
}

.undiv-div1-p2 {
  background-color: rgb(218, 250, 215);
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
}

.undiv-div1-p3 {
  background-color: antiquewhite;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
}

.undiv-div1-p4 {
  background-color: #9adafc;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
}

.undiv-div1-p5 {
  background-color: #e5efff;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
}

.fade {
  opacity: 1;
}

.school-row {
  display: none;
}

.school-input {
  display: none;
}

.school-deletes {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 20px;
  color: white;
}
.school-deletes:hover, .school-deletes:active, .school-deletes:focus {
  color: white !important;
}
.school-deletes img {
  width: 100%;
}

.brows-type {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 70px;
}
.brows-type img {
  width: 100%;
}

.textboxs35 {
  font-size: 15px;
  line-height: 25px;
  width: 95%;
  text-align: center;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.textboxs35:disabled {
  background-color: rgb(235, 235, 235);
  border-color: #e3e3e3;
}

.modal3-headers {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fda137;
  text-align: center;
  position: relative;
}
.modal3-headers span {
  font-size: 20px;
  color: white;
}
.modal3-headers a {
  font-size: 40px;
  color: white;
  opacity: 1;
  position: absolute;
  right: 5px;
  top: 5px;
}
.modal3-headers a:focus {
  color: white;
  opacity: 1;
}

.texts-input8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-image-btn {
  font-size: 13px;
  margin-bottom: 5px;
}
.view-image-btn a {
  background-color: #cda655;
  padding: 5px 8px;
  color: white;
  border-radius: 5px;
}

.view-image-img {
  width: 50%;
  margin: 0 auto;
}

.view-image-up {
  background-color: #fda137;
  padding: 5px 8px;
  border-radius: 5px;
  color: white;
}

.bgnew-title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #f1e4c9;
  color: #636363;
}

.bgnew-title2 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #f9f4e6;
  color: #636363;
}