.TuCont{
    padding: 10px;
    p{
        margin-left: 10px;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 1px;
    }
    h4{
        font-weight: bold;
        margin-top: 15px;
    }
    .onepar{
        font-weight: bold;
        font-size: 16px;
    }
    .twopar{
        font-weight: bold;
        margin-left: 25px;
    }
    .threepar{
        margin-left: 40px;
    }
    .fourpar{
        margin-left: 50px;
    }
    .bg-color{
        background-color: yellow;
    }
}
